table{
    border: 1px dashed solid rgb(68, 186, 216); 
    border-style: dashed solid;
    border-color: rgb(68, 186, 216);
    font-family: Impact;
    font-size: 200%;
    color: lightgray;
    align-items: center;
    background-color: rgba(0, 110, 255, 0.281);
    top: 0;
    float: center;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    height: 70%;
}
td,th{
    padding: 3px;
    border: 2px solid rgb(68, 186, 216);
}